.activities {
    padding-top: 0px;
}

.activities-label {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.activities__item {
    --grid-item: 3;
    position: relative;
}

@media screen and (max-width: 1199.98px) {
    .activities {
        display: none;    
    }
}

.activities__meta {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.activities__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 0;
}