.clients-list {
    display: flex;
    flex-wrap: wrap;       
}

.clients-list__link {
    display: flex;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 90px;
    justify-content: center;
    align-items: center;
    transition: border var(--animation);    
    
    &:hover,
    &:focus {
        border: 1px solid var(--accent-text-color);
    }
    
    &:hover .clients-list__icon,
    &:focus .clients-list__icon {
        fill: var(--accent-text-color);
    }
}

.clients-list__item {
    --grid-item: 2;

    @media screen and (min-width: 768px) {
    --grid-item: 3;
    }
    
    @media screen and (min-width: 1200px) {
    --grid-item: 6;
    }
}

.clients-list__icon {
    fill: #AFB1B8;
    transition: fill var(--animation);
}

