.header {
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid;
    border-color: var(--border-color);

    @media screen and (max-width: 767.98px) {
        & {
            padding-top: 16px;
            padding-bottom: 16px;    
        }
    }
}

.web,
.header__logo-studio,
.footer-contacts__studio {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.web {
    color: var(--accent-text-color);
}

.header__logo-studio {
    color: var(--primary-text-color);
}

.logo {
    text-decoration: none;
}

.header__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__logo {
    margin-right: 90px;
}

.site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.site-nav .current {
    position: relative;    
    
    &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--accent-text-color);

        @media screen and (max-width: 1199.98px) {
            & {
                bottom: -10px;    
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .header__container .contacts,
    .header__container .menu {
        display: none;    
    }
}