.menu {
    display: inline-flex;
    
    &__item:not(:last-child) {
        margin-right: 50px;
    }
}

.menu__item .current {
    color: var(--accent-text-color);
}

.menu__link {
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color var(--animation);
    
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}