.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: scale(1);
    transition: transform 350ms linear, opacity 350ms linear;
    z-index: 3;
}

.backdrop.is-hidden {
    transform: scale(0.3);
    opacity: 0;
    pointer-events: none;
}
  
.modal {
    position: absolute;
    z-index:4;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;

    @media screen and (max-width: 1199.98px) {
		& {
			max-width: 450px;
	        min-height: 609px;
		}
	}
}

.modal__exit {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal__exit-button {
    fill: rgba(0, 0, 0, 1);
    transition: fill var(--animation);    
    
    &:hover {
        fill: var(--accent-text-color);
    }
}

.modal__form {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.modal__label {
    display: block;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    color: var(--primary-text-color);    
}

.modal__form-container {
    position: relative;
}

.modal__form-text {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.modal-form {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.modal__form-field {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;       
    
    &:not(:last-child) {
        height: 40px;
        padding-left: 42px;
    }
    
    &:last-child {
        padding: 12px 16px;
        margin-top: 4px;
        height: 120px;
        font-size: 12px;
        resize: none;
    }
    
    &::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    &:focus-within {
        border: 1px solid var(--accent-text-color);
        outline: var(--accent-text-color);
        transition: border var(--animation);
    }
    
    &:focus + .modal__form-icon {
        fill: var(--accent-text-color);
    }
}

.modal__form-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--animation);   
}

.modal__checkbox {
    margin-top: 20px;
}

.modal__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-text-color);
}

.modal__checkbox-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    &:checked + .modal__checkbox-icon {
        background-color: var(--accent-text-color);
        fill: var(--white-color);
        border-radius: 2px;
        border: none;
        transition: fill var(--animation);
    }
}

.modal__checkbox-icon {
    margin-right: 5px;
    display: inline-block;
    border: 2px solid var(--primary-text-color);
    background-color: transparent;
    fill: transparent;
    border-radius: 2px;
    width: 16px; 
    height: 15px;
    transition: fill var(--animation);
}

.modal__checkbox-agreement {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
}

.modal__terms-link {
    margin-left: 0px;
    color: var(--accent-text-color);
}

.modal__submit-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    border-radius: 4px;
    border: none;
    line-height: 1.8;
    letter-spacing: 0.06em;
    display: block;
    color: var(--white-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;    
    
    &:hover,
    &:focus {
        background-color: var(--form-button-accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}