.social-list {
    display: inline-flex;
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--animation);
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--animation);
    
    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
    }
    
    &:hover .social-list__icon,
    &:focus .social-list__icon {
        fill: var(--white-color);        
    }
}

.social-list__item + .social-list__item {
    margin-left: 10px;
}